.header{
    display: flex;
    background-color: #0271bc;
    z-index: 1;
    height: 45px;
    width: 45px;
    background-size: cover;
    position: fixed;
    justify-content: center;
    align-items: center;
    a{
      background-image: url("../images/ico-menu.svg");
      height: 16px;
      width: 15px;
    }
  }