.hero {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 20px;
  h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 55px;
    word-spacing: 250px;
    @media screen and (min-width: 768px){
      font-size: 80px;
      line-height: 106px;
    }
    @media screen and (min-width: 1280px){
      font-size: 100px;
      line-height: 132px;
      max-width: 1000px;
    }
  }
  h2 {
    color: white;
    font-size: 16px;
    padding: 15px;
    font-weight: lighter;
    @media screen and (min-width: 768px){
      font-size: 24px;
    }
  }
  .link {
    display: flex;
    background-color: white;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    margin-top: 20px;
    margin-bottom: 45px;
    .down {
      display: block;
      background-image: url("../images/ico-scroll-down.svg");
      background-size: cover;
      z-index: 2;
      height: 11.5px;
      width: 20px;
    }
  }
}
